{{> navBar}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">IGN News Scraper</h1>
    <p class="lead">Get the latest in gaming news.</p>
  </div>
</div>

<div class="container">

  {{#if articles}}

  <div id="articles">
    {{#each articles}}

    <div class="art row">
      <div class="col-sm-12">


        <h3 data-id={{_id}}>{{title}}</h3>
        <p>{{blurb}}</p>
      </div>

      <div class="col-sm-12">

        <a href={{link}}>View Article</a>
        <button class="btn float-right save-btn" data-id={{_id}}>Save</button>

      </div>
    </div>

    {{/each}}
  </div>
  {{else}}

  <div class="row text-center">
    <h1>No articles found</h1>
  </div>

  {{/if}}

</div>