{{> navBar}}

<div class="container">

    <div id="articles">
        {{#each articles}}

        <div class="art row">
            <div class="col-sm-12">


                <h3 data-id={{_id}}>{{title}}</h3>
                <p>{{blurb}}</p>
            </div>

            <div class="col-sm-12">


                <a href={{link}}>View Article</a>
                <button class="btn float-right bg-danger remove-btn" data-id={{_id}}>Remove</button>
                <button class="btn float-right note-btn" data-id={{_id}}>Notes</button>

            </div>
        </div>

        <div id="notes-{{_id}}" class="note-area row d-none">

            <div class="col-sm-12">
                <h4 class="text-center">Notes</h4>
                <textarea id="new-note-{{_id}}" type="text" placeholder="New Note"></textarea>
                <button class="btn btn-primary float-right save-note" data-id={{_id}}>Save</button>
            </div>

            <div class="col-sm-12">
                <ul>
                    {{#each note}}
                    <li>{{body}}</li>
                    {{/each}}
                </ul>
            </div>

        </div>

        {{/each}}
    </div>


</div>